@charset "utf-8";
/* CSS Document */

* {outline: none;}
img {border: none;}

h1 span { color: #666; }
h1 small{
	font: 0.3em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing: 0.65em;
	display: block;
	color: #666;
}
h1 a {text-decoration: none;}
a {color: #d60000; text-decoration: none;}

/*--Tooltip Styles--*/
.tip {	
	display:none; /*--Hides by default--*/
	padding:5px;
	text-align:left;
	position:fixed;	z-index:1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.red {
	color: #fff;
	background:#d0103a;/*--Default Color #1d1d1d--*/
	border:1px solid #000;
	width:140px;	
}
.yellow {
	background-color:#f9f2ba;
	border:1px solid #e9d315;
	color:#5b5316;
	width:200px;
}
.green {
	background-color:#f2fdf1;
	border:1px solid #b6e184;
	color:#558221;
	width:370px;	
}

